body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 0;
    height: 100vh;
    background-color: #222222;
}
h1{
    font-family: Bahnschrift;
    font-size: 2rem;
    background: linear-gradient(to right,#4C8CE4,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-size: 600% 600%;
    animation: move 5s linear infinite;
}
@keyframes move{
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    width: 400px;
    font-family: poppins, sans-serif;
    font-weight: 300;
    background-color: #25343F;
    color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container::after, .container::before{
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
@keyframes spin{
    from{
        --angle : 0deg;
    }
    to{
        --angle: 360deg;
    }
}
@property  --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.container ::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.password-display input[type="text"]{
    width: 100%;
    padding: 6px;
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    outline: none;
}
.password-len input[type="number"]:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
button{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #EB4C4C;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #6FAF4F;
    transform: translateY(-2px);
}
@media (max-width: 450px){
    .container{
        width: 90%;
    }
}